<section class="covers-list">
  <div class="dir">
  <button (click)="manejarRetroceder()">&#9668;</button><h2>{{tituloSeccion}}</h2><button (click)="manejarAvanzar()">&#9658;</button>

  </div>
  <div class="scroller">

    <div class="coverCont" *ngFor="let post of arrPosts">
      <a [routerLink]="['/cover', post.id]">
        <article class="cover">
          <div class="imgCont">
            <img [src]="post.imagen" alt="">
          </div>
          <div class="coverText">
            <h3>{{post.titulo}}</h3>
            <p class="hashtags">
              <span class="hashtag">{{post.categoria}}</span>
            </p>
          </div>
        </article>
      </a>
    </div>

  </div>

</section>
