.container-fluid {

}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  padding-top:40px;
}

.form-group {
  padding: 1em;
  border-radius: 2em;
  background: var(--background2);
}

label {
  font-size: 1.125rem;
  color: var(--color3);
  padding-left:3em;
}

input, textarea {
  padding: 1em;
  background: none;
  border: none;
  box-shadow: 0px 0px 0px transparent;
  transition: .25s;
  border-radius: 1em;
}

input:focus, textarea:focus {
  box-shadow: 5px 5px 10px var(--shadow2);
}

input#titulo {
  font-size: 1.25em;
}

.radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.radio legend {
  text-align: center;
  font-size: 1rem;
}

.radio label {
  background: var(--background4);
  color: var(--background1);
  margin: .5em .9em;
  min-width: 5em;
  text-align: center;
  padding: .25em .5em;
  border-radius: 5rem;
  box-shadow: 0 0 0 var(--background4);
  transition: .25s;
}

.radio label:hover {
  box-shadow: 0 0 10px var(--background4);
}

.radio input#colabo:checked~label[for="colabo"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input#nocolabo:checked~label[for="nocolabo"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input#guardar:checked~label[for="guardar"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input#publicar:checked~label[for="publicar"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input#publicarnext:checked~label[for="publicarnext"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input#guardarnext:checked~label[for="guardarnext"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input {
  display: none;
}

.submit{
  padding:3em;
}

input[type="submit"] {
  background: var(--background5);
  color: var(--background1);
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  padding: .25em .5em;
  border: none;
  border-radius: 12.5rem;
  box-shadow: 0 0 0 var(--background5);
  text-transform: uppercase;
}

input[type="submit"]:hover {
  box-shadow: 0 0 20px var(--background5)
}

input[type="submit"].disabled {
  background: var(--background6);
}

.error {
  color: var(--background7)
}
