h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  padding-top: 40px;
}

.formGroup {
  border: 3px solid var(--color3);
  padding: .5em;
  margin-bottom: .5em;
}

legend {
  font-size: 1.125rem;
  color: var(--color3);
  width: fit-content;
  padding: .5em;
}

input {
  padding: 1em;
  background: none;
  border: none;
  box-shadow: 0px 0px 0px transparent;
  transition: .25s;
  border-radius: 1em;
  margin-bottom: .2em;
}

.quill {}

input:focus, textarea:focus {
  box-shadow: 5px 5px 10px var(--shadow2);
}

input#titulo {
  font-size: 1.25em;
}

.radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.radio legend {
  text-align: center;
  font-size: 1rem;
  width: 100%;
}

.radio label {
  background: var(--background4);
  color: var(--background1);
  margin: .5em .9em;
  min-width: 5em;
  text-align: center;
  padding: .25em .5em;
  border-radius: 5rem;
  box-shadow: 0 0 0 var(--background4);
  transition: .25s;
}

.radio label:hover {
  box-shadow: 0 0 10px var(--background4);
}

.radio input#colabo:checked~label[for="colabo"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input#nocolabo:checked~label[for="nocolabo"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input#guardar:checked~label[for="guardar"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input#publicar:checked~label[for="publicar"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input#publicarnext:checked~label[for="publicarnext"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input#guardarnext:checked~label[for="guardarnext"] {
  box-shadow: 0 0 20px var(--background3);
  background: var(--background3);
}

.radio input {
  display: none;
}

.submit {
  padding: 3em;
}

input[type="submit"] {
  background: var(--background5);
  color: var(--background1);
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  padding: .25em .5em;
  border: none;
  border-radius: 12.5rem;
  box-shadow: 0 0 0 var(--background5);
  text-transform: uppercase;
}

input[type="submit"]:hover {
  box-shadow: 0 0 20px var(--background5)
}

input[type="submit"].disabled {
  background: var(--background6);
}

.error {
  color: var(--background7)
}

.geoCont a {
  display: block;
  background: var(--background3);
  color: var(--background1);
  margin: .5em .9em;
  min-width: 5em;
  border: none;
  text-align: center;
  padding: .25em .5em;
  border-radius: 5rem;
  box-shadow: 0 0 0 var(--background4);
  transition: .25s;
  margin: 0 auto;
}

.geoCont .latLong {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

.geoCont .latLong label {
  display:block;
  color:var(--color3);
  width: 45%;
}

.geoCont .latLong input {
  border: 1px solid var(--background3);
  width:100%;
}
