<div class="container-fluid">
  <div class="container">
    <h2>{{tipoTitulo}}</h2>
    <form [formGroup]="newPostForm" (ngSubmit)="manejarSubmit()">

      <fieldset class="formGroup">
        <legend for="titulo">
          Título: <span class="error"
            *ngIf=" newPostForm.controls.titulo.errors?.required && newPostForm.controls.titulo.touched">El
            título es obligatorio</span>
          <span class="error"
            *ngIf=" newPostForm.controls.titulo.errors?.maxlength  && newPostForm.controls.titulo.dirty">
            Máximo {{newPostForm.controls.titulo.errors?.maxlength.requiredLength}} caracteres</span>
        </legend>
        <input class="form-control" type="text" formControlName="titulo" id="titulo">
      </fieldset>

      <fieldset class="formGroup">
        <legend for="imagen">
          Imagen: <span class="error"
            *ngIf=" newPostForm.controls.imagen.errors?.maxlength  && newPostForm.controls.imagen.dirty">
            Máximo {{newPostForm.controls.imagen.errors?.maxlength.requiredLength}} caracteres</span>
        </legend>
        <input class="form-control" type="text" formControlName="imagen" id="imagen"></fieldset>

      <fieldset class="formGroup">
        <legend for="categoria">
          Categoría: <span class="error"
            *ngIf=" newPostForm.controls.categoria.errors?.maxlength  && newPostForm.controls.categoria.dirty">
            Máximo {{newPostForm.controls.categoria.errors?.maxlength.requiredLength}} caracteres</span>
        </legend>
        <input class="form-control" type="text" formControlName="categoria" id="categoria">
      </fieldset>


     <!--  <fieldset>
        <legend for="contenido">
          Contenido: <span class="error"
            *ngIf=" newPostForm.controls.contenido.errors?.maxlength  && newPostForm.controls.contenido.dirty">
            Máximo {{newPostForm.controls.contenido.errors?.maxlength.requiredLength}} caracteres</span>
        </legend>
        <textarea class="form-control" name="" id="contenido" cols="30" rows="10"
          formControlName="contenido"></textarea>
      </div> -->
      <fieldset class="formGroup">
        <legend for="contenido">
          Contenido: <span class="error"
            *ngIf=" newPostForm.controls.contenido.errors?.maxlength  && newPostForm.controls.contenido.dirty">
            Máximo {{newPostForm.controls.contenido.errors?.maxlength.requiredLength}} caracteres</span>
        </legend>
        <quill-editor class="quill" [modules]="editorConfig" [styles]="editorStyle" id="contenido" formControlName="contenido"></quill-editor>
      </fieldset>


       <!-- Aqui sería donde se pondria el mapa para geoposicionar -->
      <fieldset class="formGroup geoCont">
        <a type="menu" (click)="desplegarGeolocalizacion()">geolocalizacion</a>

        <div class="" *ngIf="geoActivo">
          <div class="latLong">
           <label>Latitud <input type="number" name="latitud" formControlName="latitud"></label>
           <label>Longitud <input type="number" name="longitud" formControlName="longitud"></label>
          </div>
           <app-geo-map (coordenadas)="recibirCoordenadas($event)" ></app-geo-map>
        </div>

      </fieldset>
      <fieldset class="colabo radio">
        <legend>¿Deseas que otros puedan colaborar en tu rama?</legend>
        <input type="radio" name="colaborable" id="colabo" value="colabo" formControlName="colaborable" [checked]="true">
        <input type="radio" name="colaborable" id="nocolabo" value="nocolabo" formControlName="colaborable">
        <label for="colabo">Sí</label>
        <label for="nocolabo">No</label>
      </fieldset>

      <fieldset class="tipopub radio">
        <legend>¿Qué deseas hacer?</legend>
        <input type="radio" name="publico" id="publicar" value="publico" [checked]="true" formControlName="publico">
        <input type="radio" name="publico" id="guardar" value="privado" formControlName="publico">
        <input type="radio" name="publico" id="guardarnext" value="guardarnext" formControlName="publico">
        <input type="radio" name="publico" id="publicarnext" value="publicarnext" formControlName="publico">
        <label for="publicar">Publicar</label>
        <label for="guardar">Guardar</label>
        <label for="guardarnext">Guardar y crear siguiente</label>
        <label for="publicarnext">Publicar y crear siguiente</label>
      </fieldset>

      <input type="hidden" name="fk_id_anterior" formControlName="fk_id_anterior">

      <input type="hidden" name="fk_usuario" formControlName="fk_usuario">
      <input type="hidden" name="fk_ancestro" formControlName="fk_ancestro">


      <div class="submit">
        <input type="submit" value="enviar" [disabled]="!newPostForm.valid" [ngClass]="{'disabled':!newPostForm.valid}">
        </div>

    </form>
  </div>
</div>
