<div class="decisin">
  <p>¿Qué deseas hacer?</p>
  <div class="scroller" *ngIf="ready">
      <article class="decisionCont" *ngFor="let decision of arrDecisions">
      <a (click)="navegarPage(decision.id)">
        <div class="decision">
          <div class="imgDec">
            <img [src]="decision.imagen" alt="">
          </div>
          <div class="textDec">
            <h6>{{ decision.titulo }}</h6>
            <h6>{{ decision.nombre }}</h6>
          </div>
        </div>
      </a>
    </article>
  </div>
  <div class="crearPostBtn">
    <app-new-btn class="postBtn" [idPadre]="id" [idAncestro]="idAncestro"></app-new-btn>
  </div>
</div>
