<div class="decisin">
    <p>¿Qué deseas hacer?</p>
    <div class="scroller">
        <article class="decisionCont" *ngFor="let decision of arrDecisions">
            <a href="" [routerLink]="['/page', decision.id]">
                <article class="decision">
                    <div class="imgDec">
                        <img [src]= "decision.imagen"  alt="">
                    </div>
                    <div class="textDec">
                        <h6>{{ decision.titulo }}</h6>
                        <h6>{{ decision.nombre }}</h6>
                    </div>
                </article>
            </a>
        </article>
    </div>
    <button class="crearPostBtn" (click)="crearPostBtn()"><img src="../../assets/images/icon.svg" alt=""></button>
</div>
