<div>
    <section class="hero">
        <div class="heroInfo">
            <h2 class="heroTitle">Sé parte de una aventura</h2>
        </div>
        <h1 class="heroSub"><img src="../../assets/images/Imagotipo.svg" alt=""></h1>
       <div class="huellas">
          <img src="../../assets/images/huella.svg" alt="">
          <img src="../../assets/images/huella.svg" alt="">
          <img src="../../assets/images/huella.svg" alt="">
          <img src="../../assets/images/huella.svg" alt="">
       </div>
       <a href="http://" target="_blank" rel="noopener noreferrer"></a>
    </section>
</div>
