.post {
  position: relative;
  padding-bottom: 3rem;
  min-height: calc(100vh - 5rem);
}

.post header {
  padding: 1rem 1.25rem;
}

.post h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.post h3 {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.093em;
}

.post .migas {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 90%;
}

.post .migas .miga {
  width: 2rem;
}

.post .migas .chapter {
  position: relative;
  display: block;
  height: 0.75rem;
  width: 0.75rem;
  border: 2px solid var(--background3);
  border-radius: 50%;
  transition: .25s;
}

.post .migas .miga:last-child .chapter {
  background: var(--background3)
}

.post .miga:hover .chapter {
  box-shadow: 0px 0px 5px red;
}

.post .migas .chapter::after {
  content: '';
  display: block;
  position: relative;
  border-top: 2px solid var(--background3);
  height: .35rem;
  width: 1.4rem;
  margin-left: 0.6rem;
  margin-top: 0.19rem;
}

.post .migas .miga:last-child .chapter::after {
  border: none;
}

.post .migas .miga .chapter>a {
  position: absolute;
  display: block;
  top: 1em;
  left: 0em;
  transform: rotate(10deg);
  min-width: 8em;
  background: var(--color3);
  border: 2px solid var(--background3);
  border-radius: 0em 1em 1em 1em;
  color: var(--color1);
  padding: .25em;
  z-index: 100;
  text-align: center;
  text-decoration: none;
  color: var(--color4);
  overflow: hidden;
  visibility: collapse;
}

.post .migas .miga .chapter:hover>a, .post .migas .miga .chapter:active>a {
  visibility: visible;
}

.post .content {
  padding: 1.25rem;
  line-height: 1.75em;
}

.post .content figure {
  position: relative;
  width: 85vw;
  height: 40vh;
  margin: 0 auto;
  overflow: hidden;
  border-radius: .5rem;
}

.post .content figure img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.post .decision {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  background: var(--background4);
}

.post .decision::after {
  content: '';
  display: block;
  position: absolute;
  top: .5rem;
  left: 50%;
  height: 0.4rem;
  width: 2rem;
  border-radius: .2rem;
  transform: translateX(-50%);
  background: var(--background1);
}

.post .comments {
  position: relative;
}
