<section class="post" *ngIf="post">
  <header>
    <h2>{{post.titulo}}</h2>
    <h3><a>nombre de autor, se consigue por id del post</a></h3>
  </header>
  <div class="migas">
    <div class="miga" *ngFor="let miga of arrMigas">
      <a class="chapter"></a>
    </div>
  </div>
  <div class="content">
    <figure>
      <img [src]="post.imagen" [alt]="post.titulo">
    </figure>
    {{post.contenido}}
  </div>
  <div class="decision">
    <app-decision [id]="post.id" (outId)="navegarPagina($event)"></app-decision>
  </div>
</section>
