<section class="comments container-fluid">
  <h2>Comentarios</h2>
  <div class="container">
    <form [formGroup]="newCommentForm" (ngSubmit)="enviarComentario()">
      <div class="user">
        <img src="../../assets/images/avatarlow.jpg" alt="">
      </div>
      <input type="text" placeholder="Escribe tu comentario...." formControlName="contenido">
      <input type="submit" value="Enviar">
    </form>
    <ul *ngIf="commentsActive">
      <li class="comment" *ngFor="let comment of arrComments">

        <div class="user">
          <img src="../../assets/images/avatarlow.jpg" alt="">
        </div>

        <div class="contenido">
          <h4>{{comment.nombre}} / {{comment.fecha_publicacion | date:'dd-MM-yyyy'}}</h4>
          <p>{{comment.contenido}}</p>
        </div>
      </li>

    </ul>
  </div>
</section>
<!-- contenido: "Hola, vaya post mas chulo, no???"
​​
fecha_publicacion: "2020-03-23T10:56:30.000Z"
​​
fk_post: 1
​​
fk_usuario: 1
​​
id: 1
​​
nombre: "javier" -->
